*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
body{
    background:url(https://cloud.fullstackacademy.com/code-and-headphones-1.jpg?mtime=20200730134602);
    background-repeat: no-repeat;
    background-size: 100%;
}
.container{
    width:100%;
    height: 10vh;
    padding: 10px;
    background-color: rgba(18, 35, 71, 0.3);
    font-family: sans-serif;

}
ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
ul li{
    padding:10px;
   
}
ul li:hover{
    background:darkblue;
    padding:20px;
}
ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    cursor: pointer;

}
footer{
    color:white;
    font-family: sans-serif;
    display:flex;
    align-items:flex-end;
    justify-content: center;
    margin-top:100%;
    background-color: rgba(18, 35, 71, 0.4);
    text-transform: uppercase;
    padding:40px;
    font-size: 100%;

}
h1{
   
    font-size: 50px;
    color:white;
    background:rgba(18, 35, 71, 0.2);
    width:50%;
    height:20vh;

}
.home{
    display:flex;
    align-items: center;
    margin-top:10%;
}