*{
    padding:0;
    margin:0;
}
ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    position: sticky;
    top:0;
}
ul li{
    padding:33px;
   
}
ul li:hover{
    background:darkblue;
}
ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    cursor: pointer;
    padding:20px;
}
.container{
    width:100%;
    height: 10vh;
    background-color: rgba(18, 35, 71, 0.3);
    font-family: sans-serif;
    position: sticky;
    top:0;

}
img{
    height:90vh;
    width:100%;
}
.about{

    background:whitesmoke;
    color:black;
    width:50%;
    margin-left: 25%;
}
h5 ,p{
    font-size: 25px;
}
h2{
    display:flex;
    justify-content: center;
    font-size:50px;
    text-transform: uppercase;
}
h1{
    display:flex;
    justify-content:center;
    text-decoration: underline;
}
footer{
    display:flex;
    justify-content: center;
    color:white;
    align-items: center;
    margin-top:2%;
    background:rgb(50, 87, 117);
    padding:30px;
}